
  ul {
    list-style-type: none;
  }

  ul li{
    margin:15px;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

div a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
div a:hover {
  background-color: #111111;
}

.navbar .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    background-color: rgb(0, 187, 255);
    height: 60px;
}

.nav{
    display: flex;
    /* align-self: flex-end; */
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    
}
   
.logo{
    margin-left: 15px;
    line-height: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}


@media (max-width: 900px) {
   .navbar .nav-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 0px;
    /* padding-bottom: 20px; */
    background-color: rgb(0, 187, 255);
    height: auto;
}

.nav{
    display: flex;
    flex-direction: column;

    /* align-self: flex-end; */
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    
}
  
}


